{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}SandBox{% endblock %}

{% block content %}


    <section class="content-header">
      <h1>
        行政
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 办公平台</a></li>
        <li><a href="{% url 'system' %}">行政</a></li>
      </ol>
    </section>

    <div class="pad margin no-print">
      <div class="callout callout-info" style="margin-bottom: 0!important;">
        <h4><i class="fa  fa-info-circle"></i> 提示信息:</h4>
        本模块包含：基础管理[供应商管理、资产类型、客户信息、设备类型]，资产管理，设备管理等功能模块
      </div>
    </div>

    <!-- Main content -->
{#    <section class="invoice">#}
{#      <!-- title row -->#}
{#      <div class="row">#}
{#        <div class="col-xs-12">#}
{#          <h2 class="page-header">#}
{#            <i class="fa fa-globe"></i> SandBox, Inc.#}
{#          </h2>#}
{#        </div>#}
{#        <!-- /.col -->#}
{#      </div>#}
{#      <!-- info row -->#}
{#      <div class="row invoice-info">#}
{#        <div class="col-sm-4 invoice-col">#}
{#          <b>公司定位</b>#}
{#          <p>#}
{#            <strong></strong><br>#}
{#            致力于成为专业的信息安全服务商<br>#}
{#            为用户提供专业、全面的安全服务<br>#}
{#            点滴专注、值得信赖<br>#}
{#            <strong></strong><br>#}
{#          </p>#}
{#        </div>#}
{#        <!-- /.col -->#}
{#        <div class="col-sm-4 invoice-col">#}
{#          <b>公司文化</b>#}
{#          <p>#}
{#            <strong></strong><br>#}
{#            以质量求生存，以服务促发展<br>#}
{#            追求客户满意，是你我的责任<br>#}
{#            强化竞争意识，营造团队精神<br>#}
{#            <strong></strong><br>#}
{##}
{#          </p>#}
{#        </div>#}
{#        <!-- /.col -->#}
{#        <div class="col-sm-4 invoice-col">#}
{#          <b>通信方式</b><br>#}
{#          <br>#}
{#          <b>电话:</b> 17601565502<br>#}
{#          <b>邮箱:</b> robbie_han@outlook.com<br>#}
{#          <b>地址:</b> 江苏省南京市#}
{#        </div>#}
{#        <!-- /.col -->#}
{#      </div>#}
{#      <!-- /.row -->#}
{#    </section>#}
    <!-- /.content -->

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
	$(function() {
		$('#index').addClass('active');
	});
  </script>
{% endblock %}