{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}Gistandard{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header margin-bottom">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>办公平台</a></li>
    <li class="active">首页</li>
  </ol>
</section>
    <!-- Main content -->
  <section class="content">



  </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
	$(function() {
		$('#index').addClass('active');
	});
  </script>
{% endblock %}