{% extends "base-layer.html" %}
{% load staticfiles %}


{% block main %}

<!-- Content Header (Page header) -->
<section class="content-header margin-bottom">
  <ol class="breadcrumb">
    <li class="active">404错误</li>
  </ol>
</section>
    <!-- Main content -->
  <section class="content">
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

          <p>&nbsp</p>
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> 请求的页面不存在或你无权访问该功能</h3>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>


  </section>

    <!-- /.content -->

{% endblock %}